.home-page {
  margin: 0px auto;
  text-align: center;
  max-width: 1000px;
}
body {
  display: block;
  background: url("~@assets/images/PXL_20210220_223911208.png");
  background-repeat: repeat;
  background-size: cover;
  text-align: center;
}
body,
html {
  width: 100%;
  height: 100%;
}
